<img src="http://www.ace.international/uploads/4/1/4/7/41470361/1415067379.png" />
<div class="pageSection" id='services'>
	<h2>Services</h2>
	<img src="http://pixabay.com/get/d55177f52f628effc6b1/1428467621/dentist-428651_1280.jpg?direct" />
	<div id='overview'>
		<div id="overviewDescription">
			<h4>We trade dental equipment across North America and Central America.</h4>
		</div>
		<h5>Buy</h5>
		<p>Check out our current<a href="#contact">listings</a>. Don't see what you are looking for? <a href="#contact">Contact us</a> and we will reach out to our network to find it for you.</p>
		<h5>Sell</h5>
		<p>We can help you liquidate an entire dental office, and even help properly dispose of non-functional equipment. <a href="#contact">Contact us</a> for a quote.</p>
	</div>
	<div id='productFocus'>
		<h6>Preferred to buy either entire office for high-value products such as:</h6>
		<ol>
			<li>X-rays</li>
			<li>Lights</li>
			<li>Chairs</li>
			<li>Compressors</li>
		</ol>
	</div>
	<div id='serviceArea'>
		<h2>Service Area</h2>
	</div>
</div>
<div class="pageSection" id='products'>
	<h2>Products</h2>
</div>
<div class="pageSection" id='about'>
	<h2>About</h2>
</div>
<div class="pageSection" id='contact'>
	<h2>Contact</h2>
	<img src="http://pixabay.com/get/6845e533e24cecd2d9d1/1428467056/smile-191626_1280.jpg?direct" />
</div>