<footer id="footer">
	<ul id="contact-info">
      <li class="phone"><a href="tel:832-764-9952">832-764-9952</a></li>
      <li class="email"><a href="mailto:amadeo@ace.international ">amadeo@ace.international</a></li>
    </ul>
    <ul id="legal">
      <li class="copywrite">&copy 2015 Ace International</li>
      <li class="privacyPolicy"><a href="#">Privacy Policy</a></li>
      <li class="createdBy">Created by <a href="mailto:isaac@ziqquforge.com">Isaac Valadez</a></li>
    </ul>
</footer>