<footer>
	<div id="footer-wrapper">
		<ul>
      		<li><a href="tel:832-764-9952">832-764-9952</a></li>
      		<li><a href="mailto:amadeo@ace.international ">amadeo@ace.international</a></li>
    	</ul>
    	<ul>
      		<li><a href="#">Privacy Policy</a></li>
      		<li>&copy 2015 Ace International</li>
      		<li>Created by <a href="mailto:isaac@ziqquforge.com">Isaac Valadez</a></li>
    	</ul>
    </div>
</footer>