<footer class="footer">
	<ul class="contact-info">
      <li class="phone"><a href="tel:832-296-7178">832-296-7178</a></li>
      <li class="email"><a href="mailto:isaac@ziqquforge.com">isaac@ziqquforge.com</a></li>
    </ul>
	<div id="copywrite">
		<h3>&copy 2015 Ace International</h3>
	</div>
	<div id="legalNotice">
		<h3>By using our site, you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></h3>
	</div>
	<div id="createdBy">
	<p>Created by <a href="#">Isaac Valadez</a></p>
	</div>
</footer>