<header>
	<div id='logo-wrapper'>
		<%= image_tag("aceLogo.svg", :alt => "Logo for Ace International", :id => "logo") %>
	</div>
	<h1>We buy and sell used dental equipment</h1>
	<nav>
		<ul>
    		<a id="nav-link-services" href="#Top"><li>Services</li
    		></a><a id="nav-link-about" href="#about"><li>About</li
    		></a><a id="nav-link-contact" href="#contact"><li>Contact</li></a>
    	</ul>
	</nav>
</header>