<header>
  <div class="container">
    <nav id="menu">
      <ul>
        <a href="#"><li>Services</li></a>
        <a href="#about"><li>About</li></a>
        <a href="#contact"><li>Contact</li></a>
      </ul>
    </nav>
  </div>
</header>